.Education{
    margin-bottom: 32px;
}

.EducationHeading{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 32px;
}

.Institute{
    margin-bottom: 40px;
}

.College{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}